body {
    font-family: 'Poppins', sans-serif;
    background-color: #e2d6d6ea;
    margin: 0%;
    }

h1{
    font-size: 60px;
    padding-top: 80px;
    height: 250px;
    
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(55deg,lightsalmon,tomato);
    padding: 20px 30px;
    border-radius: 30px;
    color: white;

}
.flexible{
    display: flex;

}
.main-section {
    padding-left:70px;
    padding-top: 50px;
}
.main-section p{
    padding-right: 300px;

}
.main-section img{
    height: 100%;
    width: 120%;
    float: right;
    padding-right: 40px;
}
.second-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 60px;

}
#about-img{
    height: 93%;
    width: 40%;
    padding-left: 200px;
    margin-top: 40px;
}
.about-section{
    width: 50%;
    margin-top: 150px;
    padding-right: 100px;

}
.about-section h2{
    font-size: 40px;
}

.recipies-area h2{
       font-size: 30px;
       text-align: center;
}
.recipies-area p{
    text-align: center;
    line-height: 0.5;
    
}
.item {
    width: 20% ;
    border: 10px solid whitesmoke ;
    border-radius:  30px;
    padding: 10px 20px 20px 20px;
    text-align: justify;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 35px;
    }
.item img{
    width: 100%;
    border-radius: 15px;
    }

.value-section{
    border: 3px solid whitesmoke;
    border-radius: 20px;
    width: 80%;
    padding:40px;
    margin-left: 90px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.info{
    width: 20%;
    padding-left: 120px;
}
.info h2{
    font-size: 40px;
    line-height: 1px;
}


#footer{
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
}