body {
    font-family: 'Poppins', sans-serif;
    background-color: #e2d6d6ea;
    margin: 0%;
    }

h1{
    font-size: 60px;
    padding-top: 80px;
    height: 250px;
    
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(55deg,lightsalmon,tomato);
    padding: 20px 30px;
    border-radius: 30px;
    color: white;

}
section{
    display: flex;

}
.main-section {
    padding-left:70px;
    padding-top: 50px;
}
.main-section p{
    padding-right: 300px;

}

.main-section img{
    height: 100%;
    width: 120%;
    float: right;
    padding-right: 40px;
}